.sidebar {
  padding: 0 !important;
}

.sidebar a:hover {
  color: #006600;
}

h1 a span,
h2 a span,
h3 a span,
h4 a span,
h5 a span,
h6 a span,
p strong {
  color: #133e79 !important;
}

p,
li {
  color: #505d6b;
  font-size: 14px;
}

p {
  text-align: justify !important;
  text-indent: 30px;
}

li {
  margin-left: 30px;
}

li p {
  text-indent: 0px;
}

li li {
  margin-left: 0px;
}

.full-width table th:first-of-type {
  width: 5%;
}
.full-width table th:nth-of-type(2) {
  width: 60%;
}
.full-width table th:nth-of-type(3) {
  width: 10%;
}
.full-width table th:nth-of-type(4) {
  width: 20%;
}
